.App-header {
  text-align: center;
  padding: 20px;
}

.App-header h1 {
  font-size: 15em; /* Размер заголовка */
}

.App-header p {
  font-size: 5em; /* Размер текста */
}

.gallery {
  display: flex;
  overflow-x: auto; /* Горизонтальная прокрутка */
  white-space: nowrap; /* Запрещаем перенос строк */
  padding: 20px 0;
  gap: 10px; /* Расстояние между изображениями */
}

.gallery img {
  width: 1000px; /* Размер изображений */
  height: auto;
  flex-shrink: 0; /* Предотвращаем уменьшение размера изображений */
}

/* Стилизация полосы прокрутки */
.gallery::-webkit-scrollbar {
  height: 1000px; /* Высота горизонтальной полосы прокрутки */
}

.gallery::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Цвет ползунка */
  border-radius: 100px; /* Закругленные углы */
}
