.App-header {
  text-align: center;
  padding: 20px;
}

.App-header h1 {
  font-size: 10em; /* Размер заголовка */
}

.App-header p {
  font-size: 5em; /* Размер текста */
  margin: 20px 0; /* Отступы сверху и снизу */
}

.gallery, .weather-gallery {
  display: flex;
  overflow-x: auto; /* Горизонтальная прокрутка */
  white-space: nowrap; /* Запрещаем перенос строк */
  padding: 10px 0;
  gap: 10px; /* Расстояние между изображениями */
}

.gallery img, .weather-gallery img {
  max-width: 500px; /* Максимальная ширина изображений */
  max-height: 500px; /* Максимальная высота изображений */
  height: auto;
  width: auto;
  flex-shrink: 0; /* Предотвращаем уменьшение размера изображений */
}

/* Стилизация полосы прокрутки */
.gallery::-webkit-scrollbar, .weather-gallery::-webkit-scrollbar {
  height: 10px; /* Высота горизонтальной полосы прокрутки */
}

.gallery::-webkit-scrollbar-thumb, .weather-gallery::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Цвет ползунка */
  border-radius: 10px; /* Закругленные углы */
}
