body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/background.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App-header {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0); 
  border-radius: 10px; 
  margin: 20px;
}

.App-header h1 {
  font-size: 9em; 
}

.App-header p {
  font-size: 5em; 
  margin: 20px 0; 
  text-align: justify; /* Выровнять текст по ширине */
  max-width: 4200px; /* Максимальная ширина текста */
  margin-left: auto; /* Центрирование блока текста */
  margin-right: auto; /* Центрирование блока текста */
}

.gallery, .weather-gallery {
  display: flex;
  overflow-x: auto; 
  white-space: nowrap; 
  padding: 10px 0;
  gap: 10px;
}

.gallery img, .weather-gallery img {
  height: auto;
  width: auto;
  max-height: 1000px; 
  flex-shrink: 0; 
}

.gallery::-webkit-scrollbar, .weather-gallery::-webkit-scrollbar {
  height: 50px; 
}

.gallery::-webkit-scrollbar-thumb, .weather-gallery::-webkit-scrollbar-thumb {
  background-color: darkgrey; 
  border-radius: 10px; 
}
